@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.bookingDashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.bookingDashboard .docInfo {
  flex: 0.22;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #212c35;
  color: white;
  align-items: center;
  box-shadow: 8px 5px 18px -5px rgba(138, 62, 62, 0.75);
}

.bookingDashboard .docInfo .bookaptBtn {
  position: relative;
  top: 15%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.bookingDashboard .docInfo .bookaptBtn .consultationbtn {
  background: #0c5572;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1vw;
  padding: 1vw;
  font-size: 0.8vw;
}

.bookingDashboard .docInfo .bookaptBtn .consultationbtn.active {
  background: white;
  color: black;
}

.bookingDashboard .docInfo .bookaptBtn .consultationbtn:active {
  animation-name: slotClickAnimation;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-delay: 0ms;
  animation-timing-function: ease-in;
}

.bookingDashboard .docInfo .bookaptBtn .consultationbtn:hover {
  transition: 0.1s all ease-in;
  background: white;
  transform: scale(1.08);
  color: black;
}

.bookingDashboard .docInfo .bookaptBtn .bookbtn {
  font-size: 0.9vw;
  background: #cecece;
  font-weight: bold;
  border-radius: 1vw;
  padding: 1vw;
  font-size: 0.8vw;
  color: white;
  transition: 0.1s all ease-in;
}

.bookingDashboard .docInfo .bookaptBtn .bookbtn.active {
  transition: 0.1s all ease-in;
  background: #148cbb;
  color: white;
  font-size: 1vw;
  cursor: pointer;
}

.bookingDashboard .docInfo .bookaptBtn .bookbtn.active:hover {
  transition: 0.1s all ease-in;
  background: white;
  transform: scale(1.08);
  color: black;
}

.bookingDashboard .docInfo .bookaptBtn .bookbtn.active:active {
  animation-name: slotClickAnimation;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-delay: 0ms;
  animation-timing-function: ease-in;
}

.bookingDashboard .madateinfo {
  position: relative;
  font-size: 0.8vw;
  color: red;
  top: 15%;
}

.bookingDashboard .madateinfo.slotavailable {
  display: none;
}

.bookingDashboard .aptTab {
  display: flex;
  flex: 0.78;
  flex-direction: column;
}

.bookingDashboard .aptTab .refInfo {
  position: relative;
  top: 9%;
  flex: 0.05;
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  left: 50vw;
}

.bookingDashboard .aptTab .refInfo .colorLegends:nth-child(1) div {
  background: #39ff39;
  height: 1vh;
  margin-right: 0.2vw;
}

.bookingDashboard .aptTab .refInfo .colorLegends:nth-child(2) div {
  background: #eeee00;
  height: 1vh;
  margin-right: 0.2vw;
}

.bookingDashboard .aptTab .refInfo .colorLegends:nth-child(3) div {
  background: red;
  height: 1vh;
  margin-right: 0.2vw;
}

.bookingDashboard .aptTab .refInfo .colorLegends span {
  margin-right: 2vw;
  font-weight: bold;
  font-size: 0.8vw;
}

@keyframes slotClickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
/*# sourceMappingURL=bookingpage.module.css.map */