* {
    box-sizing: border-box;
  }
  .otp {
    font-size: 12px;    
    font-family: Roboto;
    background: rgba(227,247,255,1);
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  .bgbox {
    width: 30%; 
    min-height: 20%;
    margin: 13vw;
    background: rgba(255,255,255,1);
    border-radius: 5vw;
    padding: 1.5vw;
    box-shadow: 0.8vw 0.8vw 0.8vw rgba(11,57,84,1);
  }
  .logo{
    height: 4vw;
    display: block;
    position: absolute;
    left:2%;
    top: 2%;
    z-index: 3;
  }
  .heading{
    color: rgb(46,64,103);
    padding-top: 1vw;
    font-weight: Bold;
    font-size: 2.5vw;
    opacity: 1;
    text-align: center;
  }
  .descr{
    color: rgba(0,0,0,1);
    padding-top: 1vw;
    padding-left: 1vw;    
    padding-right: 1vw;
    font-weight: Thin;
    font-size: 1.2vw;
    text-align: center;
  }
  .form{
    padding: 1vw;
    display: flex;
    justify-content: center;
  }
  .form input{
    width: 50%;
    background-color: #edeff2;
    border: none;
    padding: 1em;
    border-radius: 25px;
    font-size: 1vw; 
    display: flex;
    }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .form button {
    background: rgb(46, 64, 103);
    padding: 0.6vw;
    border-radius: 4vw;
    width: 3vw;
    font-size: 1.2vw;
    font-weight: bold;
    border: 0.3vw solid rgb(46, 64, 103);
    cursor: pointer;
    color: #fff;
  }
  
  .form button:hover {
    background: #fff;
    color: rgb(46, 64, 103);
    transition: all 0.1s ease-in-out;
  }
  
 .form input:focus {
    background-color:rgba(227,247,255,1) ;
    outline: none;
}
.or{
    color: rgba(0,0,0,1);
    position: relative;
    padding-top: 10%;
    padding-bottom: 2%;
    font-family: Roboto;
    font-weight: Thin;
    font-size:24px;
    font-size: 1vw;
    opacity: 1;
    text-align: center;
  }
  .google{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background:#4285f4;
    color:white;
    border:none; 
    padding: 0.8em;
    border-radius:25px;
  }
  
  .google a{
    background-color: white;
    
  }
  .back{
    color: rgb(153, 143, 143);
    float: left;
    font-size: 2vw;
  }
  a{
    color: rgb(153, 143, 143);
    text-decoration: none;
    font-size: 1.2vw;
    }