.patDashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.patInfo {
  flex: 0.22;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #212c35;
  color: white;
  align-items: center;
  box-shadow: 8px 5px 18px -5px #000;
}
.appInfo{
  display: flex;
  margin: 5em;
}

.delete {
  border-radius: 15px;
  border:0;
  background-color: rgb(136, 16, 16);
  font-size: 1vw;
  margin: 0.3vw;
  color: white;
}
.logout {
  border-radius: 15px;
  background-color: rgb(178, 247, 151);
  font-size: 1vw;
  align-items: center;
  margin: 0.3vw;
}


.editProfile {
  margin-top: 1vw;
 
}
.editProfile button {
  background: #0c5572;
  color: white;
  font-weight: bold;
  padding: 1vw;
  font-size: 0.9vw;
  border-radius: 1vw;
  cursor: pointer;
}

.editProfile button:active {
  animation-name: slotClickAnimation;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-delay: 0ms;
  animation-timing-function: ease-in;
}
.editProfile button:hover {
  transition: 0.08s all ease-in;
  background: white;
  transform: scale(1.08);
  color: black;
}

.aptTab {
  display: flex;
  flex: 0.78;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.heading {
  text-align: center;
  padding-top: 2vw;
  width: 100%;
}
.subheading {
  padding-top: 1vw;
  text-align: center;
  width: 100%;
  box-shadow: 0 20px 40px -15px rgb(73, 68, 68);
  z-index: 10;
  border-radius: 0 0 1vw 1vw;
}
.subheading div {
  padding: 0.3vw;
}

.doccard {
  background-color: white;
  overflow-y: auto;
}
.docInfo {
  width: 33%;
  padding-top: 3vw;
  /* padding-right: 3vw; */
  flex-direction: column;
  display: inline-block;
  align-items: center;
}

.doccard::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.doccard {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

