* {
  box-sizing: border-box;
}
.signup {
  font-size: 12px;
  font-family: Roboto;
  background: rgba(227,247,255,1);
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.bgbox {
  width: 35%;
  min-height: 80%;
  margin: 3vw;
  background: rgba(255, 255, 255, 1);
  border-radius: 5vw;
  padding: 2vw;
  padding-top: 1vw;
  box-shadow: 01.2vw 01.2vw 1.8vw rgb(46,64,103);
}
.logo{
  height: 4vw;
  display: block;
  position: absolute;
  left:2%;
  top: 2%;
  z-index: 3;
}
.heading {
  color: rgba(11, 57, 84, 1);
  padding-top: 0.5vw;
  font-weight: Bold;
  font-size: 2vw;
  text-align: center;
}
.descr {
  color: rgba(0, 0, 0, 1);
  padding-top: 0.7vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-weight: Thin;
  font-size: 1.2vw;
  text-align: center;
}
.warning {
  font-size: 0.8vw;
  padding: 1em;
  color: red;
  text-align: center;
}
/* .form {
} */
.form div {
  display: flex;
  justify-content: center;
}
.form input {
  background-color: #edeff2;
  border: none;
  padding: 1vw;
  margin: 0.2vw;
  border-radius: 5vw;
}
.form input:focus {
  background-color: rgba(227,247,255,1);
  outline: none;
}
.form button {
  background: rgb(46, 64, 103);
  padding: 0.6vw;
  border-radius: 1vw;
  width: 6vw;
  font-size: 1.2vw;
  font-weight: bold;
  border: 0.3vw solid rgb(46, 64, 103);
  cursor: pointer;
  color: #fff;
  margin: 0.5vw;

}

.form button:hover {
  background: #fff;
  color: rgb(46, 64, 103);
  transition: all 0.1s ease-in-out;
}

.or {
  color: rgba(0, 0, 0, 1);
  font-weight: Thin;
  text-align: center;
}
.google {
  margin-left: 10.75vw;
  margin-right: 2vw;
  background: white;
  border-radius:10em;
  padding:2px;
  width: 4vw;
  float: left;
  height: 4vw;
}
.google:hover{
  background: rgb(46, 64, 103);
}
.google img {
  border-radius: 20em;
  width: 100%;
}
.back {
  color: rgb(153, 143, 143);
  float: left;
}
  .facebook {
    display: block;
    background: white;
    border-radius:10em;
    width: 4vw;
    padding: 2px;
    height: 4vw;
  } 
.facebook:hover{
  background: rgb(46, 64, 103);
}
.facebook img {
  border-radius: 20em;
  height: 100%;
}