* {
  box-sizing: border-box;
}
.signup {
  font-size: 12px;    
  font-family: Roboto;
  background: rgba(202,239,251,1);
  width: 100%;
  display: flex;
  justify-content: center;
}
.bgbox {
  width: 40%; 
  min-height: 80%;
  margin: 1.8vw;
  background: rgba(255,255,255,1);
  border-radius: 2vw;
  padding: 1vw;
  box-shadow: 0.8vw 0.8vw 0.8vw rgba(11,57,84,1);
}
.logo{
  height: 4vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.heading{
  color: rgba(11,57,84,1);
  padding-top: 0.5vw;
  font-weight: Bold;
  font-size: 2.2vw;
  text-align: center;
}
.descr{
  color: rgba(0,0,0,1);
  padding-top: 0.7vw;
  padding-left: 1vw;    
  padding-right: 1vw;
  font-weight: Thin;
  font-size: 1.2vw;
  text-align: center;
}
.form{
  padding: 0.8vw;
}

.form div{
  display: flex;
  justify-content: center;
}
.form input{
  background-color: #EDEFF2;
  border: none;
  padding: 1vw;
  margin: 0.2vw;
  border-radius: 5vw;
}
.form input:focus {
  background-color: #CAF0Fc;
  outline: none;
}
.form button{
  border-radius: 5vw;
  border:0;
  background-color: #CAF0Fc;
  font-size: 1vw;
  margin: 0.3vw;

}
.or{
  color: rgba(0,0,0,1);
  font-weight: Thin;
  text-align: center;
}
.google{
  margin-top: 0.8vw;
  margin-left: 12vw;
  margin-right: 12vw;
  display: block;
  border-radius:1vw;
  padding: 0;
}
.google img{
  width: 100%;
  height: 100%;

}
.back{
  color: rgb(153, 143, 143);
  float: left;
}