* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body {
//   // background: rgb(0, 0, 0);
// }
.homeContainer {
  width: 100vw;
  height: 100vh;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .homedocsContainer {
    position: relative;
    // left: 28%;
    // border: 1px solid red;
    width: 50%;
    height: 100%;
    .landingsvg {
      position: absolute;
      top: 7.5%;
      left: 15%;
      width: 100%;
      height: 61%;
      // border: 1px solid red;
    }
  }

  .glassBoard {
    // background: rgb(206, 206, 206);
    height: 48.4vh;
    top: 51.6vh;
    // width: 50%;
    // display: none;
    width: 50%;
    // border: 10px solid red;

    // left: 25vw;
    border-radius: 8vw 8vw 0 0;
    // background: rgb(26, 61, 75);
    background: rgb(46, 59, 95); //rgb(231, 231, 231);
    // background: radial-gradient(
    //   rgb(0, 119, 255),
    //   rgb(20, 93, 128),
    //   rgb(26, 61, 75)
    // );
    position: absolute;

    // .topBoard:before {
    //   position: absolute;
    //   width: 100vw;
    //   height: 50vh;
    //   // left: -25vw;
    //   background: rgba(212, 212, 212, 0.4);
    //   // backdrop-filter: blur(10px);
    //   content: "";
    //   backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    //   border-radius: 8vw 8vw 0 0;
    // }
    // content: "aygsjdk";
  }
}
