@import "layoutchange";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background: #99ffc2;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  padding: 0.75vw;
}

.homeContainer {
  width: 100vw;
  height: 100vh;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .homedocsContainer {
    position: relative;
    // left: 28%;
    // border: 1px solid red;
    width: 50%;
    height: 100%;
    .landingsvg {
      position: absolute;
      top: 10%;
      left: 12%;
      width: 110%;
      height: 125%;
      // border: 1px solid red;
      z-index: -1;
    }
  }

  .board {
    // background: rgb(206, 206, 206);
    display: flex;
    // border: 10px solid red;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
    .dias {
      height: 48.4vh;
      // top: 51.6vh;
      width: 50%;
      // display: none;
      // width: 50%;
      // border: 10px solid red;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      left: 25vw;
      border-radius: 8vw 8vw 0 0;
      // background: rgb(26, 61, 75);
      background: linear-gradient(black, rgb(9, 52, 112)); //rgb(231, 231, 231);
      // background: radial-gradient(
      //   rgb(0, 119, 255),
      //   rgb(20, 93, 128),
      //   rgb(26, 61, 75)
      // );
      position: relative;

      .introText {
        // font-size: 2vw;
        font-family: "Roboto", sans-serif;
        top: 0vw;
        position: relative;
        text-align: center;
        vertical-align: middle;
        // line-height: 90px;
        color: white;
        // border: 1px solid red;
        span {
          font-size: 1.5vw;
          color: rgb(223, 223, 223);
        }
      }
      .loginButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        // border: 1px solid red;
        a {
          text-decoration: none;
          color: white;

          &:nth-child(1) {
            margin-right: 5vw;
          }
          button {
            background: white;
            padding: 0.6vw;
            border-radius: 1vw;
            width: 10vw;
            font-size: 1.3vw;
            font-weight: bold;
            border: 0.3vw solid white;
            cursor: pointer;
            // p {
            //   position: relative;
            //   text-align: center;
            //   // left: 20%;
            // }

            &:hover {
              background: rgb(46, 59, 95);
              color: white;
              transition: all 0.1s ease-in-out;
            }
          }
          // &:nth-child(2) {
          //   button p {
          //     left: 30%;
          //   }
          // }
        }
      }
    }

    .curtain {
      height: 100vh;
      // background: rgb(32, 47, 88);
      width: 10%;
      top: 0vh;
      position: absolute;
      display: none;
      background: transparent;

      &:nth-child(1) {
        // position: relative;
        top: 10vh;
        height: 50vh;
        left: 9vw;
        border-radius: 0 8vw 8vw 0;
      }
      &:nth-child(3) {
        border-radius: 8vw 0 0 8vw;
        right: 0vw;
      }
    }

    // .topBoard:before {
    //   position: absolute;
    //   width: 100vw;
    //   height: 50vh;
    //   // left: -25vw;
    //   background: rgba(212, 212, 212, 0.4);
    //   // backdrop-filter: blur(10px);
    //   content: "";
    //   backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    //   border-radius: 8vw 8vw 0 0;
    // }
    // content: "aygsjdk";
  }
}
